In [6]:
#11.1
import zoo
print(zoo.hours())

Open from 9-5 daily!

In [13]:
#11.2
import zoo as menagerie
print(menagerie.hours())

Open from 9-5 daily!

In [5]:
#16.8 (which is actually 16.2 - 16.8)
import sqlite3
import csv
import sqlalchemy as sa
import sqlalchemy.orm as sao
from sqlalchemy import Column, Integer, String

csv_filename = "books2.csv"
csv_data = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""

with open(csv_filename, "w") as file:
    file.write(csv_data)


conn = sqlite3.connect("books.db")
curs = conn.cursor()

curs.execute('''CREATE TABLE IF NOT EXISTS book
(title TEXT PRIMARY KEY, author TEXT, year INT)''')

conn.commit()


with open(csv_filename, "r") as file:
    reader = csv.DictReader(file)
    books = [(row["title"], row["author"], int(row["year"])) for row in reader]

curs.executemany("INSERT OR IGNORE INTO book (title, author, year) VALUES (?, ?, ?)", books)
conn.commit()
conn.close()


engine = sa.create_engine("sqlite:///books.db", echo=False)
Session = sao.sessionmaker(bind=engine)
session = Session()
Base = sao.declarative_base()

class Book(Base):
    __tablename__ = "book"
    title = Column(String, primary_key=True)
    author = Column(String)
    year = Column(Integer)

Base.metadata.create_all(engine)


for book in session.query(Book.title).order_by(Book.title):
    print(book[0])

session.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!